body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    gap: 2px;
}

button {
    height: 50px;
    width: 100%;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: antiquewhite;
}

button:hover {background-color: darkslategray}

button:active {
    background-color: darkslategray;
    box-shadow: 0 2px darkslategray;
    transform: translasteY(4px);
}
#calculator {
    width: 250px;
    height: 273px;
    border-radius: 5px;
    /* background-color: #fff; */
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: conic-gradient(
        #fd004c,
        #fe9000,
        #fff020,
        #3edf4b,
        #3363ff, 
        #b102b7,
        #fd004c
    );
}

.display {
    height: 60px;
    text-align: right;
    font-size: 30px;
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    overflow: auto;
    color: white;
}